:host {
    /* background-color: #16113a; */
    /* background: linear-gradient(199deg, rgb(0 55 0 / 79%), rgb(0 29 17) 70.71%); */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    color: white;

    container-type: inline-size;
    container-name: sidebar;
    flex: 1 1 auto;
    background: linear-gradient(199deg, rgb(0 55 0 / 79%), rgb(0 29 17) 70.71%) no-repeat center center fixed;
    user-select: none;
}


.info-box {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.75rem;
    border-radius: 8px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.chart-container {
    position: relative;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}

.center-text-flex {
    text-align: center;
    flex: 0 1 auto;
    margin: auto;
}



@container sidebar (max-width: 600px) {
    .stats {
        display: flex !important;
        flex-direction: column;
    }

}

@container sidebar (min-width: 600px) {
    .stats {
        max-width: 1400px;
        margin: auto;
        display: grid;
        gap: 20px;
        grid-template: repeat(5, minmax(min-content, max-content)) / repeat(6, minmax(0, 1fr));
        padding: 15px;
    }

}



/* Solid border */
hr.solid {
    border-top: 2px solid #bbb;
}