:host {
    color: white;
    container-type: inline-size;
    container-name: stats;
    flex: 1 1 auto;
    user-select: none;
    background: linear-gradient(186deg, rgb(0 55 0 / 79%), rgb(0 35 0) 35.71%, rgb(0 0 0) 90.71%) no-repeat center center;
}


.info-box {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.75rem;
    border-radius: 8px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.chart-container {
    position: relative;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}

.center-text-flex {
    text-align: center;
    flex: 0 1 auto;
    margin: auto;
}


.stats {
    gap: 20px;
    padding-block: 2rem;
    padding-inline: 3dvw;
    margin: auto;
}

@container stats (max-width: 850px) {
    .stats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .stats>* {
        flex: 1 1 auto;
    }

}

@container stats (min-width: 850px) and (max-width: 1270px) {
    .stats {
        max-width: 1000px;
        display: grid;
        /* grid-template: repeat(5, minmax(min-content, max-content)) / repeat(6, minmax(0, 1fr)); */
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}


@container stats (min-width: 1270px) {
    .stats {
        max-width: 1400px;
        display: grid;
        /* grid-template: repeat(5, minmax(min-content, max-content)) / repeat(6, minmax(0, 1fr)); */
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}

.stats .span2rows {
    grid-row: span 2;
}

.stats .span2columns {
    grid-column: span 2;
}

.stats .span2 {
    grid-column: span 2;
    grid-row: span 2;
}

.stats .full-row {
    grid-column: 1 / -1;
}

/* Solid border */
hr.solid {
    border-top: 2px solid #bbb;
    margin: 0.6rem 0;
}