<nav class="navbar navbar-expand-lg navbar-light nav-shadow" style="background-color: white;">
  <!-- <a class="navbar-brand" routerLink="/main" routerLinkActive="active" ariaCurrentWhenActive="page"> -->
    <img src="../assets/images/Amanah-logo-h.svg" alt="" height="80" class="d-inline-block align-text-top">
  <!-- </a> -->
  <div class="container-fluid">
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: space-around;">
      <ul class="navbar-nav mb-2 mb-lg-0 fs-5">
        <li class="nav-item">
          <a class="nav-link bold" aria-current="page" routerLink="/main" routerLinkActive="active"
            ariaCurrentWhenActive="page">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bold" aria-current="page" routerLink="/services" routerLinkActive="active"
            ariaCurrentWhenActive="page">الخدمات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bold" aria-current="page" routerLink="/term-of-use" routerLinkActive="active"
            ariaCurrentWhenActive="page">شروط الاستخدام</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bold" aria-current="page" routerLink="/statistics" routerLinkActive="active"
            ariaCurrentWhenActive="page">الاحصائيات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bold" aria-current="page" routerLink="/contact" routerLinkActive="active"
            ariaCurrentWhenActive="page">التواصل</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bold" aria-current="page" routerLink="/FAQ" routerLinkActive="active"
            ariaCurrentWhenActive="page">الأسئلة الشائعة</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>