<div class="d-flex flex-column">
    <main class="container">
        <div class="row py-5">
            <div class="col p-5">
                <h1 class="display-7 fw-bold py-4">خدمات البوابة المكانية</h1>
                <ul class="fs-5">
                    <li>
                        البحث فى الطبقات الرئيسية والبلديات والأحياء وقطع الأراضي والمخططات والطرق والشوارع سواء على
                        مستوى
                        المدينة أو المحافظات
                    </li>
                    <li>
                        عرض إصدارات للصور الفضائية
                    </li>
                    <li>
                        الاستعلام عن بيانات قطعة الارض
                    </li>
                    <li>
                        رسم خطوط وأشكال
                        وتصديرها إلى Shape file
                    </li>
                    <li>
                        إمكانية إستيراد وتصدير طبقة جديدة في صورة (GIS) Shape file
                    </li>
                    <li>
                        إمكانية طباعة
                        الخريطة
                    </li>
                    <li>
                        البحث عن الأنشطة والخدمات فى نطاق محدد
                    </li>

                </ul>
            </div>
            <div class="col">

            </div>
        </div>
    </main>
</div>