<div class="d-flex flex-column">
    <main class="container">
        <div class="row py-5">
            <div class="col p-5">
                <h2 class="bold py-4">شروط وقواعد الاستخدام:</h2>
                <p>
                    أنت تتعهد بقبول الشروط والأحكام الواردة في هذه الاتفاقية،،،،،
                    البوابة المكانية لأمانة منطقة الرياض متاحة لاستخدامك الشخصي، ويخضع دخولك واستخدامك لهذه البوابة
                    لبنود وشروط الاستخدام الواردة ، ولأنظمة المملكة العربية السعودية، وكذلك يعد وصولك ودخولك إلى البوابة
                    موافقة دون قيد أو شرط على بنود وشروط الاستخدام، سواء أكنت مستخدماً مسجلاً أم لم تكن، يصبح أي تعديل
                    لهذه البنود والشروط نافذاً فور إعلانه، ما لم يُبين خلاف ذلك، ويعني استمرارك في استخدام هذه البوابــة
                    عقب إعلان أي تعديل قبولك التام لذلك التعديل.
                    وتتضمن بنود وشروط الاستخدام هذه، القسم الخاص بسياسة الخصوصية وحقوق الملكية..

                </p>

                <h4 class="bold">القيود على الاستخدام:
                </h4>
                <h5 class="bold">
                    باستخدامك البوابة المكانية لمدينة الرياض، تقر بالامتناع عما يلي:
                </h5>
                <ul class="fs-6">
                    <li>
                        توفير أو تحميل ملفات تحتوى على برمجيات أو مواد أو بيانات أو معلومات أخرى ليست مملوكة لك أو لا
                        تملك ترخيصاً بشأنها.
                    </li>
                    <li>
                        استخدام البوابة بأي طريقة لإرسال أي بريد إلكتروني تجاري أو غير مرغوب فيه، أو أي إساءة استخدام من
                        هذا النوع للبوابة المكانية لمنطقة الرياض .
                    </li>
                    <li>
                        توفير أو تحميل ملفات على هذه البوابة تحتوى على فيروسات أو بيانات تالفة.
                    </li>
                    <li>
                        نشر أو إعلان أو توزيع أو تعميم مواد أو معلومات تحتوي تشويهاً للسمعة أو انتهاكاً للقوانين، أو
                        مواد إباحية، أو بذيئة، أو مخالفة للآداب العامة، أو أي مواد أو معلومات غير قانونية من خلال بوابة
                        البوابة المكانية لمنطقة الرياض </li>
                    <li>
                        الاشتراك من خلال البوابة المكانية لأمانة منطقة الرياض في أنشطة غير مشروعة أو غير قانونية في
                        المملكة العربية السعودية. </li>
                    <li>
                        الإعلان على البوابة المكانية لأمانة منطقة الرياض عن أي منتج دون إذن مسبق من أمانة منطقة الرياض
                        تجعلك في وضع انتهاك للقانون
                    </li>
                    <li>
                        استخدام أي وسيلة أو برنامج أو إجراء لاعتراض أو محاولة اعتراض التشغيل الصحيح للبوابة المكانية
                        لمنطقة الرياض.
                    </li>
                    <li>
                        القيام بأي إجراء يفرض حملاً غير معقول أو كبير بصورة غير مناسبة على البنية التحتية للبوابة
                        المكانية لمدينة الرياض.
                    </li>
                    <li>
                        لا يجوز استخدام محتويات البوابة المكانية منطقة الرياض في غير محل استخدامها في النواحي التى أطلقت
                        من أجله
                    </li>

                </ul>

                <h5 class="bold">
                    حقوق الملكية:
                </h5>
                <ul class="fs-6">
                    <li>
                        هذه البوابة يشرف عليها إدارة الحلول الجيومكانية بأمانة منطقة الرياض.
                    </li>
                    <li>
                        المواد المتوفرة في هذه البوابة بما في ذلك الخرائط والبيانات الوصفية والإحصائية وغيرها محمية
                        بموجب حقوق النشر والعلامات التجارية، وأشكال حقوق الملكية الأخرى.
                    </li>
                    <li>
                        وباستثناء ما يبين خلاف ذلك، لا يجوز لك بيع أو تعديل أو نسخ أو استنساخ أو إعادة طبع أو تحميل أو
                        إعلان أو نقل أو توزيع أو العرض بصورة علنية أو تحرير أو إنشاء أعمال مشتقة من أي مواد أو محتويات
                        من هذه البوابة لأغراض تجارية، دون الحصول على الموافقة الخطية المسبقة من أمانة منطقة الرياض .
                    </li>
                    <li>
                        ويمنع منعاً باتاً أي تعديل لأي من محتويات البوابة. كما أن الخرائط والمواد الأخري في هذه البوابة
                        محمية بموجب حقوق النشر، ولا يجوز استنساخها أو استغلالها بأية طريقة كانت، دون موافقة خطية مسبقة
                        من أمانة منطقة الرياض ..
                    </li>
                </ul>

                <h5 class="bold">
                    سياسة إخلاء المسؤولية:
                </h5>
                <h6 class="under-line">
                    حدود المسؤولية
                </h6>
                <p>
                    ان جميع محتويات البوابة المكانية لأمانة منطقة الرياض و الخدمات التي تقدمها تحت المراجعة والتدقيق
                    والتحديث المستمر من قبل إدارة الحلول الجيومكانية وهي متاحة لاستخدامك الشخصي، ويخضع دخولك واستخدامك
                    لهذه البوابة لبنود وشروط أنظمة المملكة العربية السعودية.وإدارة الحلول الجيومكانية غير مسؤول عن
                    الاستخدام الخاطيء لما ورد في المحتوي وما يخص الأخطاء المتعلقة بشبكة الأنترنت.
                </p>
                <h6 class="under-line">
                    المرجعية القضائية
                </h6>
                <p>بهذا توافق على الخضوع حصريًا للسلطات القضائية بالمملكة العربية السعودية، فيما يتعلق بجميع المطالبات
                    والخلافات التي تنشأ عن استخدامك لهذه البوابة.
                </p>
            </div>
            <div class="col">

            </div>
        </div>
    </main>
</div>